services:
  postgres:
    image: postgres:15
    container_name: envision_ad_postgres
    restart: unless-stopped
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - appnet
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${SPRING_DATASOURCE_USERNAME} -d ${SPRING_DATASOURCE_DBNAME} -h localhost"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: envision_ad_pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - appnet

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: "${NEXT_PUBLIC_API_URL}"
        NEXT_PUBLIC_APP_BASE_URL: "${APP_BASE_URL}"
        NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME: "${NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME}"
        NEXT_PUBLIC_CLOUDINARY_API_KEY: "${NEXT_PUBLIC_CLOUDINARY_API_KEY}"
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: "production"
      NEXT_TELEMETRY_DISABLED: "1"
      AUTH0_DOMAIN: "${AUTH0_DOMAIN}"
      APP_BASE_URL: "${APP_BASE_URL}"
      AUTH0_CLIENT_ID: "${AUTH0_CLIENT_ID}"
      AUTH0_SECRET: "${AUTH0_SECRET}"
      AUTH0_CLIENT_SECRET: "${AUTH0_CLIENT_SECRET}"
      AUTH0_MGMT_DOMAIN: "${AUTH0_MGMT_DOMAIN}"
      AUTH0_MGMT_CLIENT_ID: "${AUTH0_MGMT_CLIENT_ID}"
      AUTH0_MGMT_CLIENT_SECRET: "${AUTH0_MGMT_CLIENT_SECRET}"
      CLOUDINARY_API_SECRET: "${CLOUDINARY_API_SECRET}"
    depends_on:
      webservice:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - appnet

  webservice:
    build:
      context: ./webservice
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      AUTH0_DOMAIN: "${AUTH0_DOMAIN}"
      AUTH0_AUDIENCE: "${AUTH0_AUDIENCE}"
      SPRING_PROFILES_ACTIVE: "prod"
      # Spring datasource
      SPRING_DATASOURCE_URL: "${SPRING_DATASOURCE_URL}"
      SPRING_DATASOURCE_USERNAME: "${SPRING_DATASOURCE_USERNAME}"
      SPRING_DATASOURCE_PASSWORD: "${SPRING_DATASOURCE_PASSWORD}"

      SPRING_EMAIL_SMTP: "${EMAIL_SMTP}"
      SPRING_EMAIL_PORT: "${EMAIL_PORT}"
      SPRING_EMAIL_USERNAME: "${EMAIL_USER}"
      SPRING_EMAIL_PASSWORD: "${EMAIL_PASSWORD}"
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    restart: unless-stopped
    networks:
      - appnet

networks:
  appnet:
    driver: bridge

volumes:
  pgdata: