services:
  postgres:
    image: postgres:15
    container_name: envision_ad_postgres
    restart: unless-stopped
    networks:
      - appnet
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: pwd
      POSTGRES_DB: test
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U test"]
      interval: 5s
      timeout: 5s
      retries: 5

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: "development"
      NEXT_TELEMETRY_DISABLED: "1"
    depends_on:
      - webservice
    restart: unless-stopped
    networks:
      - appnet

  webservice:
    build:
      context: ./webservice
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: "dev"
      # Spring datasource
      SPRING_DATASOURCE_URL: "jdbc:postgresql://postgres:5432/test"
      SPRING_DATASOURCE_USERNAME: "test"
      SPRING_DATASOURCE_PASSWORD: "pwd"
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - appnet

networks:
  appnet:
    driver: bridge