.partnersSection {
  width: 100%;
  overflow: hidden;
  padding: 60px 0;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.scrollContainer {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 250px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -280px;
  }
}

.partnerLogo {
  width: 280px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: max(calc(280px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.scrollContainer:hover .partnerLogo {
  animation-play-state: paused;
}

.partnerLogo:hover {
  opacity: 1;
}

.logoImageWrapper {
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
