
.media-marker > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    text-decoration: none;
}

.media-marker > a > span {
    background: var(--mantine-color-blue-6); /* Blue background */
    color: white;
    border: 1px solid white; 
    border-radius: 50px; 
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    font-size: medium;
    font-weight: bold;
    margin: 0px;
    transition: all 0.1s ease;
    width: fit-content;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
    &:hover{
        transform: scale(1.08);
    }
}

.leaflet-popup-content{
    margin: -1;
}

.leaflet-container a.leaflet-popup-close-button {
    background-color: white;
    border-radius: 24;
    margin: 5;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.leaflet-popup-tip-container {
  display: none;
}