.paper {
    
    &:hover {
        .imagecontainer {
            transform: translateY(-5px);
            transition: transform 0.2s ease; 
        }
        .image {
            transform: scale(1.05);
            transition: transform 0.2s ease
        }
    }
}

.imagecontainer {
    overflow: hidden;
    transform: translateY(0px);
    transition: transform 0.2s ease
}

.image {
    transform: scale(1.0);
    transition: transform 0.2s ease
}

