name: Deploy Envision Ad (Canada)

on:
  push:
    branches:
      - main
      - feat/deployment_on_aws
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Navigate to home directory
            cd ~

            # SMART CHECK: Clone if directory doesn't exist, Pull if it does
            if [ ! -d "envision-ad" ]; then
              echo "Directory not found. Cloning for the first time..."
              git clone git@github.com:${{ github.repository }}.git envision-ad
            fi
            
            cd envision-ad
#            git pull origin main
            git fetch origin
            git checkout ${{ github.ref_name }}
            git pull origin ${{ github.ref_name }}
            
            # --- 3. Inject environment variables and start/update Docker containers ---
            doppler run --project envision-ad-frontend --config prd --token ${{ secrets.DOPPLER_FRONTEND_TOKEN }} -- \
            doppler run --project envision-ad-backend --config prd --token ${{ secrets.DOPPLER_BACKEND_TOKEN }} -- \
            docker compose -f docker-compose.prod.yml up -d --build --force-recreate