name: Jacoco Code Coverage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Install Doppler CLI
        uses: dopplerhq/cli-action@v3

      - name: Run Gradle build
        env:
          DOPPLER_TOKEN: ${{ secrets.DOPPLER_BACKEND_TOKEN }}
        run: |
          cd webservice
          doppler run --project envision-ad-backend --config prd -- \
          ./gradlew clean build --no-daemon

      - name: Upload JaCoCo HTML report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-html
          path: webservice/build/reports/jacoco/test/html
